body {
  position: relative;
  padding: 10px;
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}

.my-name {
  text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
  font-size: 14px;
    font-family: serif;
    color: rgb(7, 155, 196);
  margin-top: 0;
}

div {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 20px 0 0 10px;
}

img {
    width: 200px;
    height: 245px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}

#icon, #github, a {
    padding: 6px 8px;
}

#linkedin {
    color: dodgerblue;
}

.cont1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
}

.cont2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px;
}

.cont3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    padding: 5px;
}

.cont4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    padding: 5px;
}

.cont5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    padding: 5px;
}

.cont6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    padding: 5px;
}

.cont7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    padding: 5px;
}

p {
    font-family:sans-serif;
    color: rgb(79, 80, 81);
    line-height: 0.50;
    padding-left: 15px;
    padding-top: 10px;
}

.fa-circle {
    color: rgb(7, 155, 196);
}

ul li, ol li {
    font-family:sans-serif;
    color: rgb(79, 80, 81);
    padding-left: 0;
    padding-top: 10px;
}

h2.sub-title {
    font-family: serif;
    font-size: 16px;
    color: rgb(7, 155, 196);
    padding: 10px 10px;
    margin: 0 ;
}

a {
    text-decoration: none;
    color: rgb(79, 80, 81);
}
