body {
  background: #475B70;
  background-size: cover;
}

.container {
  margin: 0 auto;
  background: url("banner.jpeg");
  z-index: -1;
  width: 448px;
  height: 900px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  color: white;
  background-image: url("logo.png");
  background-size: auto;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px red;
  text-align: center;
  width: 444px;
  border-radius: 3px;
  margin: 0 auto;
}

.top-image img {
  width: 252px;
  height: 245px;
  margin: 0 auto;
  padding-top: 20px;
}

.top-image {
  border: 2px solid #475B70;
  border-radius: 5px;
}

.center {
  margin: 0 auto;
  width: 446px;
}