body {
    background: #475B70;
    background-size: cover;
}

.container {
  margin: 0 auto;
  background: url("banner.jpeg");
  background-size: cover;
  z-index: -1;
  width: 448px;
  height: 900px;
}

.top-image {
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.top-image img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 20px;
}

#carton {
    position: absolute;
    top: 150px;
    left: 5%;
    min-height: calc(100vh - 40vh);
    max-height: calc(100vh - 60vh);
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
}


#inputs {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 0 5px 10px;
    border-bottom: 2px solid red;
    margin-bottom: 5px;
    width: 435px;
    z-index: 1;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px red;
    text-align: center;
    width: 400px;
}

#add {
    background: transparent;
    color: green;
    padding: 0;
    border: none;
}

#clear:disabled {
  background: darkgreen;
  color: white;
  padding: 4px;
  border: 1px solid white;
  border-radius: 7px;
}

#clear {
  background: red;
  color: white;
  padding: 4px;
  border: 1px solid white;
  border-radius: 7px;
}

#add:disabled {
    color: deepskyblue;
}

#add i.fas {
   margin-left: 10px;
   margin-right: 10px;
}

label {
    font-family: 'Helvetica', sans-serif;
    color: darkslategray;
}

input  {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: #475B70;
    margin-bottom: 5px;
}

ul li {
    color: lightcyan;
    font-family: 'Helvetica', sans-serif;
}

.fa-trash {
    margin: 10px 15px;
    color: red;
    border: none;
}


ul {
    list-style: none;
    margin: 0 auto;
}

ul i {
    margin: 0 auto;
    border: 1px solid red;
}

.center {
    margin: 0 auto;
    width: 500px;
}


