body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

#root
{
  border: 1px solid cadetblue;
  padding: 15px;
  margin: 20px;
  background-color: cadetblue;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px darkslategrey;
  width: 350px;
}
#quantity, #item
{
  padding: 2px;
}

#add, #item
{
  margin-left: 10px;
}
label
{
  padding: 3px;
  background-color: darkslategrey;
  border-radius: 5px;
  margin-bottom: 5px;
  display: block;
  width: 342px;
  text-align: center;
}
#clear
{
  background-color: darkred;
  padding: 3px;
  color: white;
  margin-top: 5px;
  border: 1px solid darkred;
  text-align: center;
  width: 80px;
}
#clear:disabled
{
  background-color: darkslategray;
  border: 1px solid darkslategray;
}
#delete
{
  float: right;
}
li
{
  margin-bottom: 5px;
}
ol
{
  list-style: none;
  padding-left: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
