body {
  background: #475B70;
  background-size: cover;
}
.container {
  margin: 0 auto;
  background: url("../static/banner.jpeg");
  background-size: cover;
  z-index: 1;
  width: 448px;
  height: 900px;
  position: relative;
}
#flower {
  width: 444px;
  position: absolute;
  top: 15%;
  z-index: 2;
}
.top-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
.top-image img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 20px;
}
#carton {
  position: absolute;
  top: 150px;
  left: 5%;
  min-height: calc(100vh - 40vh);
  max-height: calc(100vh - 60vh);
  box-sizing: border-box;
  opacity: 0.5;
}
#inputs {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 0 5px 0;
  border-bottom: 2px solid red;
  margin-bottom: 5px;
  width: 426px;
}
#add {
  background: transparent;
  color: green;
  padding: 0;
  border: none;
}
#clear:disabled {
  background: #0a9ca5e0;
  color: #fffffe;
  padding: 4px;
  border: 1px solid #151f10a8;
  border-radius: 6px;
}
button#clear {
  float: right;
  margin-right: 20px;
}
.deleteButton {
  background-color: transparent;
  border: none;
  float: right;
}
#clear {
  background: #f7040485;
  color: #fffffe;
  padding: 4px;
  border: 1px solid #1e472bd1;
  border-radius: 7px;
  float: right;
  margin-right: 20px;
}
#add:disabled {
  color: deepskyblue;
}
#add i.fas {
  margin-left: 10px;
  margin-right: 10px;
}
label {
  font-family: 'Helvetica', sans-serif;
  color: darkslategray;
  padding: 5px;
  margin-left: 5px;
}
input {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  color: #475B70;
  margin-bottom: 5px;
}
#quantity {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-bottom: 5px;
  width: 100px;
}
span.quantity {
  margin-left: 130px;
}
ul li {
  color: lightcyan;
  font-family: 'Helvetica', sans-serif;
  border-left: 1px solid #475B70;
  border-bottom: 1px solid #475B70;
  border-collapse: collapse;
  border-radius: 5px;
  padding: 10px 23px;
}
ul i.fa-trash {
  margin: 0 auto;
  border: none;
  float: right;
  right: 5px;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
span.quantityText {
  margin-left: 130px;
  color: white;
}
.center {
  width: 444px;
  position: absolute;
  top: 28%;
  z-index: 2;
  margin: 0 auto;
}
